/* variable */

:root {
    --main-up-height: 25px;
    --grey-color: rgb(59, 59, 59);
    --main-mid-right-width: 500px;
}

/* new default */

textarea,input,select,button{
    box-shadow: 0 0 0 0;
    outline: 0;
    border: 0px solid red;
}

button, input, textarea{
    background-color: black;
}

canvas{
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    image-rendering: -moz-crisp-edges;
}

textarea, input{
    width: 100%;
    resize: none;
}

/* class predefined */

.clickable{
    cursor: pointer;
    user-select: none;
}

.selected{

    color: white;
    background-color: black;
    border: 1px solid white !important;

}

/* CSS */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    background-color: var(--grey-color);
}

.main{
    
}

.main > .up{
    width: 100%;
    height: var(--main-up-height);
    border: 2px solid black;
}

.main > .up > *{
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    border: 1px solid black;
    height: 100%;
    padding: 10px;
    align-content: center;
}

.main > .mid{
    display: flex;
    height: calc(
        100vh
        -
        var(--main-up-height) * 2
    );
    flex-direction: row;
}

.main > .mid > *{
    height: 100%;
    margin: auto;
}

.main > .mid > .left, .main > .mid > .right{

    position: absolute;

    height: calc(
        100%
        -
        var(--main-up-height) * 2
    );
    text-align: center;

    border: 1px solid black;
    background-color: var(--grey-color);

}

.main > .mid > .left{

    width: 200px;
    overflow-y: auto;

}

.main > .mid > .left *{

    color: white;
    margin: 5px 0px;
    padding: 5px;

}

.main > .mid > .mid{

    width: 100%;
    text-align: center;

    border: 1px solid black;

}

.main > .mid > .mid > *{

    width: 100%;
    height: 100%;

}

.main > .mid > .right{
    
    width: var(--main-mid-right-width);

    left: calc(
        100%
        -
        var(--main-mid-right-width)
    );

}

.main > .mid > .right > *{

    width: 100%;
    border: 1px solid black;

}

.main > .down{

    display: flex;
    height: var(--main-up-height);
    border: 1px solid black;
    text-align: center;

}

.main > .down > *{

    margin: auto;
    width: 10%;
    height: 100%;

}

.main > .down > * > *{

    width: 100%;
    height: 100%;
    border: 1px solid black;

}

/* INTERACTIVE */

.interactiveDefault:hover {
    color: white;
    background-color: black;
    border: 1px solid white !important;
}

/* MEDIA */